.bg-container {
  position: relative;
  text-align: center;
  color: burlywood;
}

.title-text {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 100px;
}
/* .bg-full-image img {
	display: block;
	width: 100%;
} */
