.bg-container {
  position: relative;
  text-align: center;
  min-height: 100%;
  min-width: 1000px;
}

.bg-container img {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.title-text {
  position: absolute;
  top: 40px;
  left: 80px;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(227, 233, 240, 0.5);
  margin: 50px 10px 50px 10px;
  /* border-radius: 100px; */
}

h1 {
  color: rgb(101, 56, 197);
  /* border: darkgray; */
  /* font-weight: 100; */
  margin: 0;
  padding: 50px;
  font-style: italic;
}
